.main-footer {
    font-size: 0.9rem;
    color:#4f5153; 
    background-color: #fff; 
    line-height: 1.5;
        box-shadow: 0 2px 6px rgba(0,0,0,0.05);
}

.main-footer a {
    color: #0d6efd; 
}

.main-footer a:hover {
    text-decoration: underline;
}
body {
    padding-bottom: 60px;
}