{% load static %}

<link rel="stylesheet" href="{% static 'css/footer.css' %}">

<style>

</style>
<footer class="main-footer border-top fixed-bottom text-center py-3 shadow-sm">
    <div class="container">
        <strong>Copyright &copy; 2026-2027 
            <a class="text-decoration-none" href="https://www.linkedin.com/in/abdessamad-imgharen-6bb993388?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app">
                Abdessamad Imgharen
            </a>.
        </strong>
        All rights reserved.
    </div>
</footer>
