{% extends "base.html" %}
{% load static %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/repadd.css' %}">

{% endblock %}

{% block content %}
<div class="container d-flex justify-content-center align-items-center" style="min-height: 80vh;">
    <div class="shadow p-4" style="max-width: 400px; width: 100%; border-radius: 15px;">
        <div class="text-center mb-3">
            <p class="fw-bold fs-3">Password Changed 🎉</p>
            <p class="text-muted">Your password has been reset successfully.</p>
        </div>

        <div class="d-grid gap-2">
            <a href="{% url 'login' %}" class="btn btn-dark w-100 rounded-3">Go to Login</a>
        </div>
    </div>
</div>
{% block footer %}{% endblock %}
{% endblock %}
